.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.listItem {
    list-style: none;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.itemName b, .itemLanguage b {
    margin-right: 0.5rem;
}

.itemLink {
    display: block;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.itemLink:hover {
    background-color: var(--cor-principalDark);
}

.textError {
    text-align: center;
    color: red;
}