* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --cor-principal: #ffe6a7;
    --cor-principalDark: #bdab7f; 
    --cor-secundaria: #111;
}